body {
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------------------Map----------------------------------*/
body {
    margin: 0;
}

.map {
    height: 100vh;
    width: 100%;
    background-color: #EFEBE9;
}

.ol-zoom {
    top: calc(100% - .5em*2 - 2.1em*2);
    left: calc(100% - .5em*2 - 1.375em);
}

.ol-control button {
    background-color: rgba(51, 51, 51, .7);
}

.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(30, 31, 32, 0.822);
}

.ol-control {
    background-color: rgba(141, 141, 141, 0.4);
}

.ol-control:hover {
    background-color: rgba(141, 141, 141, 0.7);
}

.ol-search input {
    width: 93.5%;
    padding: 1em;
    font-size: 1.2em !important;
}

.ol-search ul {
    background: rgba(51, 51, 51, .7) !important;
    max-width: 94% !important;
}
/*--------------------------------Infobar--------------------------------*/
.infobar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 1%;
    bottom: 2%;
    background-color: rgba(102, 102, 102, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    margin-left: 50px;
    color: #f1f1f1;
    border-radius: 15px;
}

.infobar h1 {
    font-size: 1.5em;
    border-bottom: 2px solid #f1f1f1;
    margin-right: 20px;
}

.infobar h2 {
    font-size: 1.1em;
    border-bottom: 1px solid #f1f1f1;
    margin-right: 20px;
}

.infobar>ul>li {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin-left: -30px;
}

/* Menu */
.sidebar {
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 1%;
    bottom: 2%;
    background-color: rgba(51, 51, 51, 0.9);
    overflow-x: hidden;
    padding-top: 16px;
    border-radius: 15px;
}

.sidebar a {
    padding: 10px 2px 10px 12px;
    text-decoration: none;
    font-size: 25px;
    color: #a5a5a5;
    display: block;
}

.sidebar a:hover {
    color: #cbe0ff;
}

.main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/*--------------------------Infokasten-----------------------*/
.info {
    border-collapse: collapse;
    margin-right: 20px;
}

.info td {
    border: 1px solid #BFC9CA;
    padding: 5px 10px 5px 10px;
    /* top, right, bottom, left */
}

/*--------------------------Suche-----------------------*/

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 2px solid #a7a7a7;
    float: left;
    width: 88%;
    background: #f1f1f1;
}

form.formPOI {
    float: left;
    padding: 5px;
}

form.lsForm{
    float: left;
    padding: 5px;
}

button.poiSpeichern {
    width: 100%;
    float: left;
    background: #2d545e;
    color: white;
    padding: 8px;
    text-decoration: solid;
}

button.poiSpeichern:hover {
    background: #12343b;
}

button.lsSpeichern {
    width: 100%;
    float: left;
    background: #2d545e;
    color: white;
    padding: 8px;
    text-decoration: solid;
}

button.lsSpeichern:hover {
    background: #12343b;
}


select.poiCat {
    float: right;
    width: 47.3%;
}

/*--------------------------Routing-----------------------*/
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1.5px solid transparent;
    padding: 0.1rem 0.6rem;
    font-size: 1.5rem;
    border-radius: .2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn :hover {
    color: #cbe0ff;
}

.btn-primary {
    color: #fff;
    background-color: rgba(51, 51, 51, 0.9);
    border-color: rgba(51, 51, 51, 0.9);
}

.btn-secondary {
    color: #fff;
    background-color: #6C757D;
    border-color: #6C757D;
}

.btn-success {
    color: #fff;
    background-color: #2d545e;
    border-color: #2d545e;
}

.btn-danger {
    color: #fff;
    background-color: #029409;
    border-color: #029409;
}

.btn-warning {
    color: #fff;
    background-color: #FFC107;
    border-color: #FFC107;
}

.btn-info {
    color: #fff;
    background-color: #c21a1a;
    border-color: #c21a1a;
}

.waypoints {
    width: 95%;
    margin-bottom: 10px;
    ;
}

.route-value-table {
    margin-top: 10px;
    ;
}

/*--------------------------POI-----------------------*/

.formStadtrad {
    display: none;
}

.label {
    display: inline-block;
    width: 10em;
}

.top {
    margin-top: 0.5em;
}

.left {
    margin-left: 1em;
}