.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(71, 71, 71, 0.808));
	filter: drop-shadow(0 1px 4px rgba(71, 71, 71, 0.808));
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #ffffff;
	bottom: 12px;
	left: -48px;
	min-width: 250px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: #ffffff;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #ffffff;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;	
}
.ol-popup-closer:after {
	content: "✖";
	font-size: 1.2em;
	color: black;
}

